@charset "utf-8";

body
{ 
	/*font-size: 15pt; /* https://css-tricks.com/viewport-sized-typography/ */
	font-family: Helvetica, sans-serif;
	line-height: 140%;
	font-size: 1em;
}

small 
{
	font-size: 0,8em;
}


@media  (orientation:portrait) {
	body {
		font-size: 2em;
	}
	small 
	{
		font-size: 1.2em;
	} 
}


img
{
	width: 75%;
	display: block;
	margin:0 auto;
}

.img {
	display: inline-block;
	vertical-align: middle;
	width: 33vw;
	height: 33vw;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 2vw 2vw 2vw 2vw;
 }

 .description
 {
	width: 55vw;
	vertical-align: middle;
	display: inline-block;
 }